* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: pointer;
}

::selection {
    color: var(--bs-white);
    background: rgb(221, 171, 8);
}

body {
    color: var(--bs-gray-900);
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.nav-item {
    text-align: center;
}

.nav-link text {
    transition: all ease 0.2s;
}

.nav-link text:hover {
    color: rgb(221, 171, 8);
}

.carousel-caption h5,
.carousel-caption p {
    color: var(--bs-white);
    margin: 15px 5px;
    transition:all ease 0.3s;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 60%;
    left: 30%;
    right: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.carousel-item img {
    object-fit: cover;
    height: calc(100vh - 70px);
    filter: grayscale(50%);
}

.portImages,
.overlay {
    /* width: 280px;
    height: 186.92px; */
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.overlay p {
    color: var(--bs-white);
}

.portProjects:hover .overlay,
.portProjects:hover .portImages {
    filter: grayscale(0%);
    opacity: 1;
}

/* CONTACTS HOVER  */

#portFolioContacts {
    background-color: #111;
    color: var(--bs-white);
}

#portFolioContacts .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.5s;
}

#portFolioContacts .h5 {
    transition: all .1s ease;
}

.contactCard {
    border-left: 1px solid rgba(255, 174, 0, 0.329);
    transition: all ease 0.3s;
}

.contactCard:first-child {
    border: 0px;
}

.socialIcones {
    background-color: rgba(34, 34, 34, 0.905);
    border-radius: 5px;
}

.socialLogo {
    width: 20px;
    height: auto;
    margin: 3px;
}

/************
*/

.contactCard:hover {
    background-color: rgb(255, 204, 0);
    box-shadow: 0px 0px 5px;
    color: black;
}

.contactCard:hover .avatar {
    box-shadow: 0px 0px 15px;
}

.contactCard:hover .contactdesc {
    text-shadow: 1px 1px 5px;
}

.contactCard:hover .h5 {
    text-shadow: 1px 1px 5px;
}

/* CONTACTS HOVER  */

.footer {
    background-color: #111;
    color: var(--bs-gray-500);
    font-size: 10px;
}

.tracinho {
    width: 50px;
    height: 1px;
    background: rgb(17, 17, 17);
    background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(190, 159, 0, 0.671) 50%, rgba(17, 17, 17, 1) 100%);
}

.footer a {
    text-decoration: none;
    color: var(--bs-gray-300);
}

@media (max-width:425px) {

    .carousel-caption h5,
    .portFolio .container p {
        font-size: 4vw;
    }

    .carousel-caption p {
        font-size: 3vw;
    }
}

@media(max-width:991px) {
    .contactCard {
        border-left: 0px;
        border-bottom: 1px solid rgba(255, 174, 0, 0.329);
    }

    .contactCard:first-child {
        border-bottom: 1px solid rgba(255, 174, 0, 0.329);
    }

    .contactCard:last-child {
        border: 0px;
    }
}